{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Mes informations</h1>
    <div class="msg-flash">
    {% for message in app.flashes('notice') %}
        <div class="flash-success">
            <h5>{{ message }}</h5>
        </div>
    {% endfor %}
    </div>
    <table class="table">
        <a class="btn-new-s" type="button" href="{{ path('app_user_new') }}">Ajouter un nouveau</a>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                <th>Mot de passe</th>
                <th>Nom</th>
                <th>N° de téléphone</th>
                <th>Localisation</th>
                <th>A propos de moi</th>
                <th>Job</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phonenumber }}</td>
                <td>{{ user.localisation }}</td>
                <td>{{ user.aboutme }}</td>
                <td>{{ user.job }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="edit">
                        <i class='bx bx-edit-alt'></i>
                    </a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="delete">
                        <i class='bx bx-trash'></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
