{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<section class="home" id="Home">
    <div class="home-content">
        <h3>Bonjour, moi c'est</h3>
        <h1>Stéphanie Meyer</h1>
        <h3>Je suis <span>{#{{ user.job }}#}Développeuse Web Junior</span></h3>
    </div>
    <div class="home-img">
        <img src="{{ asset("images/avatar-rogne.png") }}" alt="Mon avatar">
    </div>
</section>
<section class="profil-p" id="Profil">
    <div class="aboutme">
        <h3>A propos de moi</h3>
        <p>Après plus de 15 années dans le secteur de l'industrie 
        nautique, j’ai choisi de me reconvertir dans le Développement 
        Web. A la suite d’une formation intensive, je recherche un 
        stage me permettant de compléter ma formation, d’approfondir 
        mes compétences, de mettre en avant mon adaptabilité et ma 
        détermination au sein d'un environnement dynamique.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
        ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
        occaecat cupidatat non proident, sunt in culpa qui officia 
        deserunt mollit anim id est laborum</p>
    </div>
    <div class="skills">
        <h3>Compétences</h3>
        <div class="skills-s">HTML</div>
        <div class="skills-s">CSS</div>
        <div class="skills-s">PHP</div>
        <div class="skills-s">Symfony</div>
        <div class="skills-s">MySQL</div>
        <div class="skills-s">JavaScript</div>
        <div class="skills-s">Figma</div>
        <div class="skills-s">GitHub</div>
    </div>
</section>
<section class="portfolio-p" id="Projets">
    <h3>Mes Projets</h3>
    <div class="projets-p">
       {# {% for projet in projets %}
            <h4>"{{projet.name}}"</h4>
            <p>"{{ projects.description }}"</p>
        {% endfor %} #}
        <div class="wg">
            <h4>Wildy Gaming</h4>
            <img src="{{ asset("images/wildygaming.png") }}" alt="Wildy Gaming">
            <img src="{{ asset("images/wildygaming2.png") }}" alt="Wildy Gaming">
            <img src="{{ asset("images/wildygaming3.png") }}" alt="Wildy Gaming">
            <img src="{{ asset("images/wildygaming4.png") }}" alt="Wildy Gaming">
        </div>
        <div class="wt">
            <h4>Wild Tour</h4>
            <img src="{{ asset("images/wildtour.png") }}" alt="Wild Tour">
            <img src="{{ asset("images/wildtour3.png") }}" alt="Wild Tour">
            <img src="{{ asset("images/wildtour4.png") }}" alt="Wild Tour">
            <img src="{{ asset("images/wildtour5.png") }}" alt="Wild Tour">
            <img src="{{ asset("images/wildtour6.png") }}" alt="Wild Tour">
        </div>
        <div class="sg">
            <h4>Stras'Gite</h4>
            <img src="{{ asset("images/strasgite.png") }}" alt="Stras'Gite">
            <img src="{{ asset("images/strasgite2.png") }}" alt="Stras'Gite">
            <img src="{{ asset("images/strasgite3.png") }}" alt="Stras'Gite">
        </div>
    </div>
</section>
<section class="container-contact" id="Contact">
    <div class="cadre">
        <h3>Contact</h3>
        <form action="/dashboard" method="post">
            <ul>
                <li>
                    <label for="name">Nom&nbsp;:</label>
                    <input type="text" id="firstname" name="user_firstname" />
                </li>
                <li>
                    <label for="name">Prénom&nbsp;:</label>
                    <input type="text" id="lastename" name="user_lastname" />
                </li>
                <li>
                    <label for="mail">E-mail&nbsp;:</label>
                    <input type="email" id="mail" name="user_mail" />
                </li>
                <li>
                    <label for="mail">Téléphone&nbsp;:</label>
                    <input type="int" id="phone" name="user_phone" />
                </li>
                <li>
                    <label for="name">Sujet&nbsp;:</label>
                    <input type="text" id="subject" name="user_subject" />
                </li>
                <li>
                    <label for="msg">Message&nbsp;:</label>
                    <textarea id="msg" name="user_message"></textarea>
                </li>
            </ul>
        </form>
    </div>
    <div class="info">
        <i class='bx bx-current-location'></i>
        <h4>{#{ user.localisation }#}Les sables d'Olonne +/- 30km</h4>
        <i class='bx bx-envelope' ></i>
        <h4>{#{ user.email }#}stephanie2510@gmail.com</h4>
        <i class='bx bx-phone' ></i>
        <h4>{#{ user.phonenumber }#}0669690942</h4>
    </div>
</section>
{% endblock %}
