{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<section class="home" id="Home">
    <div class="home-content">
        <h3>Bonjour, moi c'est</h3>
        <h1>{#{{ user.name }}#}Stéphanie Meyer</h1>
        <h3>Je suis <span class="multiple-text">{#{{ user.job }}#}Développeuse Web</span></h3>
    </div>
    <div class="home-img">
        <img src="{{ asset("images/avatar-rogne.png") }}" alt="Mon avatar">
    </div>
</section>
<section class="profil-p" id="Profil">
    <div class="aboutme">
        <h3>A propos de moi</h3>
        <p>Bienvenue sur mon portfolio !
        <br>
        Je suis ravie de vous accueillir dans mon espace créatif où 
        je partage avec vous une sélection de mes projets et 
        réalisations. <br>À travers cette page, je vous invite à 
        découvrir mon parcours professionnel et mes compétences 
        développés grâce à la fomation intensive et certifiante de 
        Développeur Web et Web mobile que j'ai efféctué récemment. 
        <br>
        Chaque projet présenté dans ce portfolio est 
        le fruit d'un travail acharné, d'une réflexion approfondie 
        et d'une recherche constante de l'excellence.
        <br>
        N'hésitez pas à parcourir mon portfolio et à me contacter 
        si vous avez des questions ou si vous 
        souhaitez discuter d'une collaboration potentielle. Je 
        suis toujours à la recherche de nouveaux défis et de 
        nouvelles opportunités de mettre mon talent au service de 
        projets passionnants et innovants.</p>
    </div>
    <div class="skills">
        <h3>Compétences</h3>
        {% for skills in skillss %}
            <div class="skills-s">{{ skills.name }}</div>
        {% endfor %}
    </div>
</section>
<section class="portfolio-p" id="Projets">
    <h3>Mes Projets</h3>
    <div class="cards">{#projets-p}
       {# {% for projet in projets %}
            <h4>"{{projet.name}}"</h4>
            <p>"{{ projects.description }}"</p>
        {% endfor %} #}
        <article class="card">
            <header>
                <h4>Wild Tour</h4>
            </header> 
                <img src="{{ asset("images/wildtour.png") }}" alt="Wild Tour">
                <img src="{{ asset("images/wildtour3.png") }}" alt="Wild Tour">
                <img src="{{ asset("images/wildtour4.png") }}" alt="Wild Tour">
                <img src="{{ asset("images/wildtour5.png") }}" alt="Wild Tour">
                <img src="{{ asset("images/wildtour6.png") }}" alt="Wild Tour">
            <div class="content">
                <p class="card-p">C'est le premier projet sur lequel j'ai travaillé
                pendant ma formation. Il s'agit d'un site vitrine regroupant des activités
                dans le secteur géographique des personnes ayant travailler sur le projet.
                <br><br>Stack utilisé:<br>HTML, CSS, PHP.</p>
            </div>
        </article>
        <article class="card">
            <header>
                <h4>Stras'Gite</h4>
            </header> 
                <img src="{{ asset("images/strasgite.png") }}" alt="Stras'Gite">
                <img src="{{ asset("images/strasgite2.png") }}" alt="Stras'Gite">
                <img src="{{ asset("images/strasgite3.png") }}" alt="Stras'Gite">
            <div class="content">
                <p class="card-p">Projet numéro 2. Le thème à été imposé par le formateur, 
                il s'agit d'un site de réservation de chambre d'hôte avec pour but la 
                fidélisation des clients et plus particulièrement les parlemantaires (étant 
                donné que les chambres se situent à côté du parlement européen à Strasbourg).
                <br><br>Stack utilisé:<br>HTML, CSS, PHP, Twig, SQL, JS, Composer, MVC.</p>
            </div>
        </article>
        <article class="card">{#wg#}
            <header>
                <h4>Wildy Gaming</h4>
            </header>    
                <img src="{{ asset("images/wildygaming.png") }}" alt="Wildy Gaming">
                <img src="{{ asset("images/wildygaming2.png") }}" alt="Wildy Gaming">
                <img src="{{ asset("images/wildygaming3.png") }}" alt="Wildy Gaming">
                <img src="{{ asset("images/wildygaming4.png") }}" alt="Wildy Gaming">
            <div class="content">
                <p class="card-p">Projet numéro 3 où nous avions pu choisir le thème parmis 
                plusieurs choix. Il s'agit d'une création de site pour une salle d'arcade qui 
                souhaitait attirer plus de monde dans son magasin via son site, en proposant 
                des jeux jouables, à travers lesquels les joueurs avaient la possibilité de 
                gagner des lots en fonction des points gagnés.
                <br><br>Stack utilisé:<br>HTML, CSS, PHP/Symfony, Twig, SQL, JS.</p>
            </div>
        </article>
    </div>
</section>
<section class="container-contact" id="Contact">
    <div class="cadre">
        <h3>Contact</h3>
        <form class="form1" action="/dashboard" method="post">
            <ul>
                <li class="fistname">
                    <label for="name">Nom&nbsp;:</label>
                    <input type="text" id="firstname" name="user_firstname" />
                </li>
                <li class="lastname">
                    <label class="name" for="name">Prénom&nbsp;:</label>
                    <input type="text" id="lastname" name="user_lastname" />
                </li>
                <li class="mail">
                    <label for="mail">E-mail&nbsp;:</label>
                    <input type="email" id="mail" name="user_mail" />
                </li>
                <li class="phone">
                    <label for="phone">Téléphone&nbsp;:</label>
                    <input type="int" id="phone" name="user_phone" />
                </li>
                <li class="subject">
                    <label for="subject">Sujet&nbsp;:</label>
                    <input type="text" id="subject" name="user_subject" />
                </li>
                <li class="msg">
                    <label for="msg">Message&nbsp;:</label>
                    <textarea id="msg" name="user_message"></textarea>
                </li>
            </ul>
            <button class="btn-c" type="submit">Envoyer</button>
        </form>
    </div>
    <div class="info">
        <i class='bx bx-current-location'></i>
        <h4>{#{ user.localisation }#}Les Sables d'Olonne +/- 30km</h4>
        <i class='bx bx-envelope' ></i>
        <h4>{#{ user.email }#}stephanie2510@gmail.com</h4>
        <i class='bx bx-phone' ></i>
        <h4>{#{ user.phonenumber }#}0669690942</h4>
    </div>
</section>
{% endblock %}
