<nav class="navbar">
    <img class="logo" src="{{ asset("images/phoenix6.png") }}" href="{{ path('home') }}" width= "200rem"></a>
    <a class="profil" dir="rtl" href="{#{{ path('games_index') }}#}">Profil</a>
    <a class="projets" dir="rtl" href="{#{{ path('Lots_index') }}#}">Projets</a>
    <a class="contact" dir="rtl" href="{#{{ path('Lots_index') }}#}">Contact</a>
</nav>