{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contact.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>N° de téléphone</th>
                <td>{{ contact.phonenumber }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_index') }}">Retour à la liste</a>

    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>

    {{ include('admin/contact/_delete_form.html.twig') }}
{% endblock %}
